XM/build/
utils/__pycache__/
deps/glomap/build/
deps/colmap/
deps/UniDepth/
deps/pyceres/
deps/TEASER-plusplus/
assets/SIMPLE1/output/
assets/SIMPLE2/output/
assets/SIMPLE3/output/
assets/SIMPLE4/output/
assets/Experiment/*
rebuttle_initialization.py
rebuttle_noise.py
rebuttle_plot.py
shucheng_synthesis.py